<div>
    <h2>Hi, Pranjal Agrawal </h2>
    <p>some send you mail</p>
    <br>
    <br>

    <% for(const c in comment) { %>
        <p><%= c %> : <%= comment[c] %></p>
    <% } %>

    <br>
    <br>

    <p>Thanks!</p>
</div>
